%ul#top__left__search__list.clearfix
  - brands.each_with_index do |brand, i|
    - case i
    - when 0
      - color = "first-color"
    - when 1
      - color = "second-color"
    - when 2
      - color = "third-color"
    - else
      - color = "normal-color"
    %li
      .rank-icon{class: color}
        %i.fa.fa-circle.rank-circle
          .rank-num
            = i+1
      = link_to brand.name, brand_path(brand), class: "list-title link-list"
