- btn_name = "btn_#{top_category.id}"
// オールインワン・サロペットのみ表示名を変更
- if top_category.name == "オールインワン・サロペット"
  - top_category.name = "オールインワン"

%li
  = link_to top_category.name, top_category_path(top_category), class: "list-title category-btn", id: btn_name
  .angle-icon
    %i.fas.fa-angle-right
  .popup
    .popup.category-popup{id: "popup-#{top_category.id}"}
      .popup__inner
        %ul.popup__inner__list
          - top_category.sub_categories.each do |sub_category|
            %li.hover-link
              = link_to sub_category.name, "#", class: "list-title"
