%section#top__left__favorite
  %h2.head-title お気に入り
  %ul#top__left__favorite__list
    %li.category-btn
      = link_to "アイテム", "#", class: "list-title"
    %li.category-btn
      = link_to "ブランド", "#", class: "list-title"
    %li.category-btn
      = link_to "ショップ", "#", class: "list-title"
