%ul#top__left__search__list
  %li
    = link_to "ブランドから探す", brands_path, class: "list-title link-list"
  %li
    = link_to "ショップから探す", shops_path, class: "list-title link-list"
  %li
    = link_to "ランキングから探す", rankings_path, class: "list-title link-list"
