%ul#top__left__search__list
  %li
    = link_to "ブランドから探す", "#", class: "list-title link-list"
  %li
    = link_to "ショップから探す", "#", class: "list-title link-list"
  %li
    = link_to "ランキングから探す", "#", class: "list-title link-list"
