%section#top__left__search
  %h2.head-title 探す
  %ul#top__left__search__list
    %li
      = link_to "ブランドから探す", "#", class: "list-title link-list"
    %li
      = link_to "ショップから探す", "#", class: "list-title link-list"
    %li
      = link_to "ランキングから探す", "#", class: "list-title link-list"
