.r.wrapper
  .r.header
    %ul
      %li
        = link_to "ZOZOTOWN", root_path
        >
      %li
        人気アイテムランキング

  .r.main-content
    .r.title-area
      %h1
        %i.fas.fa-chess-king
        人気アイテムランキング
      = render "shared/gender_tab"
    %ul
      - @rankings.each_with_index do |ranking, i|
        - item = ranking[0]
        - if i < 3
          - if item.images[0]
            %li.item
              = render partial: 'tops/item', locals: {item: item, image_size: "super-large", rank_num: i + 1, coupon: 0}
        - else
          - if item.images[0]
            %li.item.sub_ranking
              = render partial: 'tops/item', locals: {item: item, image_size: "high-large", rank_num: i + 1, coupon: 0}
