- case coupon
- when 1000
  .coupon-tag.coupon-color-one
    .coupon-price
      %span ¥1,000クーポン
- when 2000
  .coupon-tag.coupon-color-two
    .coupon-price
      %span ¥2,000クーポン
- when 3000
  .coupon-tag.coupon-color-three
    .coupon-price
      %span ¥3,000クーポン
