- if favorite = current_user.favorite_brands.find_by(brand_id: brand.id)
  = link_to brand_destroy_favorite_path(favorite), method: :delete, remote: true, class: "favorite_brand clearfix" do
    %i.fas.fa-heart
    %p お気に入りブランドに登録済み
- else
  = link_to brand_create_favorites_path(brand_id: brand.id), method: :post, remote: true, class: "un_favorite_brand clearfix" do
    %i.far.fa-heart
    %p お気に入りブランドに追加
