- if favorite = current_user.favorite_shops.find_by(shop_id: shop.id)
  = link_to shop_destroy_favorite_path(favorite), method: :delete, remote: true, class: "favorite_brand clearfix" do
    %i.fas.fa-heart
    %p お気に入りショップに登録済み
- else
  = link_to shop_create_favorites_path(shop_id: shop.id), method: :post, remote: true, class: "un_favorite_brand clearfix" do
    %i.far.fa-heart
    %p お気に入りショップに追加
