%ul
  %li
    = link_to "#", class: "category-btn" do
      メンズ
      .angle-icon
        %i.fas.fa-angle-right
  %li
    = link_to "#", class: "category-btn" do
      レディース
      .angle-icon
        %i.fas.fa-angle-right
  %li
    = link_to "#", class: "category-btn" do
      キッズ
      .angle-icon
        %i.fas.fa-angle-right
