%ul
  %li
    = link_to get_mens_path, class: "category-btn" do
      メンズ
      .angle-icon
        %i.fas.fa-angle-right
  %li
    = link_to get_ladies_path, class: "category-btn" do
      レディース
      .angle-icon
        %i.fas.fa-angle-right
  %li
    = link_to get_kids_path, class: "category-btn" do
      キッズ
      .angle-icon
        %i.fas.fa-angle-right
