%ul.hot_keyword.clearfix
  %li
    =link_to "Tシャツ/カットソー", "#", class: "hover-link"
  %li
    =link_to "ワンピース", "#", class: "hover-link"
  %li
    =link_to "シャツ/ブラウス", "#", class: "hover-link"
  %li
    =link_to "パンツ", "#", class: "hover-link"
  %li
    =link_to "スカート", "#", class: "hover-link"
  %li
    =link_to "ショルダーバッグ", "#", class: "hover-link"
  %li
    =link_to "ニット/セーター", "#", class: "hover-link"
