%ul
  %li
    = link_to "#", class: "category-btn" do
      通常価格
      .angle-icon
        %i.fas.fa-angle-right
  %li
    = link_to "#", class: "category-btn" do
      セール価格
      .angle-icon
        %i.fas.fa-angle-right
