.result_header
  - if shop.url
    = image_tag(shop.url)
  .brand_title
    %h1.brand_name
      = shop.name
    - if user_signed_in?
      .favorite_link
        = render partial: "favorites/favorite_shop_icon", locals: {shop: shop}
