%article
  #top.clearfix
    //-------- Leftページ ---------//
    #top__left
      = render "tops_left"
    //-------- センターページ ---------//
    #top__center
      = render "tops_center"
    //-------- Rightページ ---------//
    #top__right
