@mixin fit_to_center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
@mixin set_size($height, $width) {
  height: $height;
  width: $width;
}
@mixin set_btn($height, $width) {
  height: $height;
  width: $width;
  display: block;
  line-height: $height;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
@mixin create_popup($height, $width) {
  height: $height;
  width: $width;
  box-shadow: 0 0 5px rgba(77,77,77,0.2);
  border-radius: 0 0 4px 4px;
  background-color: $white;
}
