@mixin fit_to_center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
@mixin set_size($height, $width) {
  height: $height;
  width: $width;
}
@mixin set_btn($height, $width) {
  height: $height;
  width: $width;
  display: block;
  line-height: $height;
  text-decoration: none;
  cursor: pointer;
}

@mixin set_rank_num($color) {
  font-size: 13px;
  position: absolute;
  top: 3px;
  left: 6px;
  bottom: 0;
  right: 0;
  font-family: helvetica;
  font-style: normal;
  color: $color;
}

@mixin set_rank_num_large($color) {
  font-size: 20px;
  position: absolute;
  top: 6px;
  left: 9px;
  bottom: 0;
  right: 0;
  font-family: helvetica;
  font-style: normal;
  color: $color;
}

@mixin create_popup($height, $width) {
  height: $height;
  width: $width;
  box-shadow: 0 0 5px rgba(77,77,77,0.2);
  border-radius: 0 0 4px 4px;
  background-color: $white;

}

@mixin create_category_popup{
  padding: 12px 10px 15px 10px;
  z-index: 2;
  box-shadow: 0 0 5px rgba(77,77,77,0.2);
  border-radius: 0 0 4px 4px;
  background-color: $white;
  position: absolute;
  top: -30px;
  left: 160px;
}

@mixin top_set_border{
  padding: 22px 0 25px;
  border-bottom: solid 1px $top-center-border-color;
}

@mixin set_status_icon {
  display: block;
  float: left;
  font-size: 30px;
  color: #007ebe;
}
