//---------- common ----------//
$inner-width: 980px;
$angle-icon-color: #DCDCDC;
$link-color: #007ebe;
$white: #ffffff;
//---------- header ----------//
$header-color: #323232;
$white: #fff;
$header-search-btn-color: #dcdcdc;
$header-height: 50px;
$header-logo-width: 150px;
// 検索フォーム
$header-search-height: 28px;
$header-search-field-width: 225px;
$header-search-btn-width: 40px;
// ボタン
$header-list-width: 55px;
$header-login-width: 105px;

//---------- content_header ----------//
$c-header-color: #f0f0f0;
$c-header-tab-font-color: #808080;
$c-header-height: 40px;
$c-header-tab-width: 80px;
$c-header-tab-ladies-width: 105px;

//---------- top --------------------//
$top-head-font-color: #2d2d2d;
$top-list-font-color: #646464;
//-- layout size ---------//
$top-left-width: 175px;
$top-center-width: 540px;
$top-right-width: 210px;
//-- category ------------//
$top-category-btn-width: 168px;
$top-category-btn-height: 18px;
$top-category-border-color: #f2f2f2;
//-- ranking ------------//
$top-rank-first-color: #d9b340;
$top-rank-second-color: #6f7b83;
$top-rank-third-color: #a15326;
$top-rank-normal-color: #dedede;
$top-rank-normal-num-color: #8C8C8C;
// -- list color -----------//
$top-name-color: #808080;
$top-center-border-color: #ebebeb;
// -- image -----------//
$large-image-width: 170px;
$large-image-height: 205px;
$middle-image-width: 125px;
$middle-image-height: 150px;
$small-image-width: 70px;
$small-image-height: 84px;

// -- item_show -----------//
$width-show-main: 980px;
$width-show-left: 560px;
$width-show-right: 400px;
$height-main-content: 600px;
$border-blue: solid 1px rgb(36, 144, 208);
$border-gray: solid 1px rgb(235, 235, 235);
// -- carts_index -----------//
$width-carts-index-leftcontent: 600px;
$main-blue-color: rgb(36, 144, 208);
// -- carts_order_index -----------//
$carts_orders_left_content_width: 645px;


//---------- search ----------//
$side-bar-width: 200px;
$search-content-width: 760px;
$side-bar-color: #C3C3C3;
$list-border-color: #e6e6e6;
