#header {
  background-color: $header-color;

  &__wrapper {
    @include set_size($header-height, 980px);
    margin: 0 auto;

    &__left {
      height: $header-height;
      line-height: $header-height;
      float: left;

      &__logo {
        width: $header-logo-width;
        margin-right: 18px;
        float: left;

        a {
          font-size: 25px;
          color: $white;
          text-decoration: none;
        }
      }

      &__search {
        height: $header-height;
        float: left;

        &__textfield {
          float: left;
          @include set_size($header-height, $header-search-field-width);
          position: relative;

          .search-field {
            @include set_size($header-search-height, $header-search-field-width);
            @include fit_to_center;
            padding: 0;
            border: 0;
          }
        }

        &__btn {
          @include set_size($header-height, $header-search-btn-width);
          line-height: $header-height;
          float: left;
          position: relative;
          text-align: center;

          #search-btn {
            @include set_btn_size($header-search-height, $header-search-btn-width);
            @include fit_to_center;
            line-height: $header-search-height;
            background: $header-search-btn-color;
            cursor: pointer;
            border-radius: 0 2px 2px 0;
          }
        }
      }
    }

    &__right {
      float: right;

      &__contents {
        list-style: none;
        height: $header-height;
        line-height: $header-height;
        text-align: center;
        margin: 0;
        color: $white;
        text-decoration: none;
        cursor: pointer;

        &__user_name {
          @include set_size($header-height, $header-login-width);
          float: left;

          #login-btn {
            @include set_btn_size($header-height, $header-login-width);

            span {
              font-size: 13px;
              text-decoration: none;
              color: $white;
            }
          }
        }

        &__favorite {
          @include set_btn_size($header-height, $header-list-width);
          float: left;
        }

        &__cart {
          @include set_btn_size($header-height, $header-list-width);
          float: left;
        }

        &__menu {
          @include set_btn_size($header-height, $header-list-width);
          float: left;
        }
      }
    }
  }
}

.fa-search {
  color: gray;
}

.fa-heart {
  color: $white;
}

.fa-shopping-cart {
  color: $white;
}

.fa-bars {
  color: $white;
}
