.content_main_form
  = form_for @user, url: users_update_mail_url do |f|
    .head
      %dl メールアドレスの変更
      %dd 変更するメールアドレスを入力し、確認メールを送信してください。
    .mail.clearfix
      .title
        %dt
          %span メールアドレス
      .main
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "*****@****", class: "form"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .send.clearfix
      = f.submit "更新する", class: "send_btn", id: "mail_btn"


