#content_header
  #content_header__inner
    %ul#content_header__inner__tabs.clearfix
      %li#content_header__inner__tabs__all
        = link_to "#", class: "tabs-btn" do
          %span すべて
      %li#content_header__inner__tabs__mens
        = link_to "#", class: "tabs-btn" do
          %span メンズ
      %li#content_header__inner__tabs__ladies
        = link_to "#", class: "tabs-btn-ladies" do
          %span レディース
      %li#content_header__inner__tabs__kids
        = link_to "#", class: "tabs-btn" do
          %span キッズ
