%ul.tabs.clearfix
  %li
    = link_to top_categories_path, class: "tabs-btn" do
      %span すべて
  %li
    = link_to get_mens_path, class: "tabs-btn" do
      %span メンズ
  %li
    = link_to get_ladies_path, class: "tabs-btn-ladies" do
      %span レディース
  %li
    = link_to get_kids_path, class: "tabs-btn" do
      %span キッズ
