%ul.tabs.clearfix
  %li
    = link_to "#", class: "tabs-btn" do
      %span すべて
  %li
    = link_to "#", class: "tabs-btn" do
      %span メンズ
  %li
    = link_to "#", class: "tabs-btn-ladies" do
      %span レディース
  %li
    = link_to "#", class: "tabs-btn" do
      %span キッズ
