.o.wrapper
  .o.header
    %img{alt: "ZOZOロゴ", height: "26", width: "184", src: "http://www.fashionnetkorea.com/__boardstyle/FASHION/FPEOPLEBRAND/images/20171204203939_509500609.JPG"}
  .o.content
    .o.content-header
      %h1 注文内容の確認
      .o.navi
        %img{alt: "ZOZOロゴ", height: "70", width: "295", src: "https://zozo.jp/_cart/order/img/step_02.gif"}
    .o.main-content
      .o.left-content
