.wrapper
  .header
    %i.fas.fa-shopping-cart
    %h1
      ショッピングカート
    %img{alt: "注文の流れ", src: "http://zozo.jp/_cart/order/img/step_01.gif"}
  .main-content
    .left-content
      %img{alt: "注文の流れ", src: "https://img4.zozo.jp/pc/zozoomake/201809/omake_pc_cart_men.jpg"}
      .items
        %a{ :href => 'http://google.co.jp' }
          %img{alt: "商品イメージ", height: "150", width: "125", src: "https://c.imgz.jp/273/25052273/25052273B_1_D_125.jpg"}
        .name
          %p MONO-MART
          %p Champion
          %p Champion Authentic T-SHIRTS
          %p カラー：ホワイト
          %p サイズ：L
          .red-text 返品・交換対象外
        .price ¥1,998
        .number-area
          .number-box
            .number
              1
            .btn
              %a{ :href => 'http://google.co.jp' }+
        .delete-box
          %a{ :href => 'http://google.co.jp' }削除
      .total
        .total-right
          %p 商品合計
          .price ¥1,998
      .payment
        %p
          %b ツケ払いできます。
          お支払いは
          %span 11月28日
          でOK
          %a{ :href => 'http://google.co.jp' }詳細
      .cart-in-item
        %h2 以前カートに入れたアイテム
        .item-list
          %a{ :href => 'http://google.co.jp' }
            %img{alt: "商品イメージ", height: "150", width: "125", src: "https://c.imgz.jp/837/35099837/35099837B_1_D_215.jpg"}
          .name
            %p MONO-MART
            %p 【Champion】
            .price ¥9,990
            %span 税別
            .other-text カラー：ホワイト
            .other-text サイズ：38
          .cart-btn
            %a{ :href => 'http://google.co.jp' }カートに入れる
      .item-content
        %h3 チェックしたアイテム
        %ul#top__center__pickup__contents.clearfix
          - 15.times.each do |i|
            #top__center__pickup__contents__item
              = render partial: 'tests/item', locals: {image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}
      .item-ranking
        %h3 人気アイテムランキング
        %ul#top__center__pickup__contents.clearfix
          - 15.times.each do |i|
            #top__center__pickup__contents__item
              = render partial: 'tests/item', locals: {image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}
    .row-content
      .recommend
        %p カートに入れたアイテムからのお知らせ
        .items
          %ul#top__center__pickup__contents.clearfix
            - 15.times.each do |i|
              #top__center__pickup__contents__item
                = render partial: 'tests/item', locals: {image_size: "middle", rank_num: 0, coupon: 0, shop_image: false}


