.wrapper {
  width: $width-show-main;
  margin: 0 auto;

  .header {
    height: 84px;
    width: $width-show-main;
    padding-top: 36px;

    i {
      width: 40px;
      color: $main-blue-color;
      font-size: 30px;
      float: left;
      margin-top: 35px;
    }

    h1 {
      font-size: 23px;
      float: left;
      margin-top: 35px;
    }

    img {
      float: right;
    }
  }

  .main-content {
    width: $width-show-main;

    .left-content {
      width: $width-carts-index-leftcontent;

      .c.items-content {
        margin-top: 10px;

        .items {
          width: $width-carts-index-leftcontent;
          margin-top: 13px;
          padding-top: 20px;

          dt {
            float: left;
          }

          dd {
            float: left;
          }

          .cart_image_column {
            width: 140px;
          }

          .cart_info_column {
            width: 215px;
            white-space: nowrap;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;

            .name {
              padding-top: 15px;
            }
          }

          .cart_price_column {
            width: 100px;
            text-align: center;
            padding-top: 55px;
          }

          .cart_stock_column {
            width: 95px;
            padding-top: 50px;
            position: relative;

            .number-box {
              position: absolute;
              right: 0;

              .number {
                height: 18px;
                width: 18px;
                border: $border-gray;
                border-radius: 2px;
                padding: 5px 1px 5px 9px;
                float: left;
              }

              .btn {
                height: 28px;
                line-height: 28px;
                width: 24px;
                float: left;
                border-top: $border-gray;
                border-bottom: $border-gray;
                border-radius: 2px;
                text-align: center;

                a {
                  text-decoration: none;
                }
              }
            }

            .right-btn {
              border-right: $border-gray;
            }

            .left-btn {
              border-left: $border-gray;
            }
          }

          .cart_delete_column {
            width: 50px;
            padding-top: 55px;
            text-align: right;
          }
        }
      }

      .nothing_in_cart {
        font-size: 15px;
        color: #808080;
        text-align: right;
        padding: 50px 0 35px;
      }

      .continue-btn {
        @include set_btn(30px, 260px);
        padding: 11px 0 8px;
        background-color: $main-blue-color;
        text-align: center;
        color: white;
        border-radius: 4px;
        margin-bottom: 50px;
        margin-left: 360px;
      }

      .total {
        width: $width-carts-index-leftcontent;
        margin: 15px 0;

        .total-right {
          width: 220px;

          p {
            font-size: 15px;
          }

          .price {
            color: red;
            font-size: 15px;
          }
        }
      }

      .payment {
        float: right;
        width: 310px;
        font-size: 14px;
        background-color: rgb(240, 240, 240);
        padding: 10px 18px;
        text-align: right;
        margin-bottom: 30px;

        span {
          color: red;
        }

        a {
          color: $main-blue-color;
          text-decoration: none;
        }
      }
    }

    .cart-next {
      height: 220px;
      width: 320px;
      background-color: rgb(246, 246, 246);
      float: right;
      position: relative;

      .form {
        padding-top: 30px;
        width: 250px;
        @include fit_to_center();
        text-align: center;

        .cart-btn {
          @include set_btn(40px, 250px);
          background-color: $main-blue-color;
          text-align: center;
          color: white;
          font-size: 18px;
        }

        .continue-link {
          text-decoration: none;
          color: $link-color
        }

        .postage {
          width: 250px;
          background-color: rgb(230, 230, 230);
          margin: 20px 0;
          padding-top: 5px;

          .postage-text {
            height: 40px;
            margin: 10px 0 10px 5px;

            i {
              font-size: 30px;
              color: $main-blue-color;
              float: left;
              margin-left: 10px;
            }

            .text {
              float: left;
              margin-left: 5px;

              p {
                padding-top: 5px;
                font-size: 11px;
                float: left;
              }

              .more {
                font-size: 8px;
                color: $main-blue-color;
                text-decoration: none;
              }
            }
          }
        }
      }

      .continuation {
        text-align: center;
        margin-top: 20px;
        color: $main-blue-color;
      }
    }

    .cart_total_column {
      float: left;
      font-size: 15px;
      text-align: right;
      border-top: 1px solid #dbdbdb;
      padding: 15px 0 20px;
      margin-top: 25px;
    }

    .title_column {
      width: 450px;
    }

    .price_column {
      width: 150px;
    }
  }
}

.cart-image {
  height: 150px;
  width: 125px;
}

.cart-in-item {
  border-top: $border-gray;
  padding-top: 20px;
  clear: both;

  .cart-btn {
    padding: 11px 0 8px;

    a {
      @include set_btn(35px, 125px);
      background-color: $main-blue-color;
      text-align: center;
      color: white;
    }
  }

  .cart-item {
    margin-right: 30px;
  }

  h2 {
    font-size: 18px;
    padding-bottom: 13px;
  }

  .item-list {
    height: 180px;
    width: $width-carts-index-leftcontent;

    a {
      height: 150px;
      width: 145px;
      float: left;
    }

    .name {
      height: 145px;
      width: 300px;
      padding-top: 10px;
      float: left;

      .price {
        float: left;
      }

      span {
        font-size: 10px;
        margin-left: 5px;
        color: #808080;
      }

      .other-text {
        font-size: 10px;
        color: #808080;
        margin-top: 5px;
      }
    }
  }
}

.red-text {
  color: red;
}
