#header {
  background-color: $header-color;

  &__wrapper {
    @include set_size($header-height, 980px);
    margin: 0 auto;

    &__left {
      height: $header-height;
      line-height: $header-height;
      float: left;

      &__logo {
        width: $header-logo-width;
        margin-right: 18px;
        float: left;

        a {
          font-size: 25px;
          color: $white;
          text-decoration: none;
        }
      }

      &__search {
        height: $header-height;
        float: left;

        &__textfield {
          float: left;
          @include set_size($header-height, $header-search-field-width);
          position: relative;

          .search-field {
            @include set_size($header-search-height, $header-search-field-width);
            @include fit_to_center;
            border: 0;
          }
        }

        &__btn {
          @include set_size($header-height, $header-search-btn-width);
          float: left;
          position: relative;

          #search-btn {
            @include set_btn($header-search-height, $header-search-btn-width);
            @include fit_to_center;
            border-radius: 0 2px 2px 0;
            background-color: $header-search-btn-color;
            text-align: center;
          }
        }
      }
    }

    &__right {
      float: right;

      &__contents {
        list-style: none;
        height: $header-height;

        &__user_name {
          @include set_size($header-height, $header-login-width);
          float: left;

          #login-btn {
            @include set_btn($header-height, $header-login-width);
            color: $white;
            text-align: center;
          }
        }

        &__favorite {
          float: left;
        }

        &__cart {
          float: left;
        }

        &__menu {
          float: left;
        }
      }
    }
  }
}

.fa-search {
  color: gray;
}

.fa-heart {
  color: $white;
}

.fa-shopping-cart {
  color: $white;
}

.fa-bars {
  color: $white;
}

.h-list-btn {
  @include set_btn($header-height, $header-list-width);
  text-align: center;
}

.h-list-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}

#login-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}
