#header {
  background-color: $header-color;

  &__wrapper {
    @include set_size($header-height, 980px);
    margin: 0 auto;

    &__left {
      height: $header-height;
      line-height: $header-height;
      float: left;

      &__logo {
        width: $header-logo-width;
        margin-right: 18px;
        float: left;

        a {
          font-size: 25px;
          color: $white;
          text-decoration: none;
        }
      }

      &__search {
        height: 28px;
        float: left;

        &__textfield {
          float: left;
          @include set_size(28px, $header-search-field-width);
          position: relative;
          margin-top: 11px;

          .search-field {
            @include set_size(28px, $header-search-field-width);
            @include fit_to_center;
            border: 0;
          }
        }

        &__btn {
          @include set_size(28px, $header-search-btn-width);
          float: left;
          position: relative;
          margin-top: 11px;

          #search-btn {
            @include set_btn($header-search-height, $header-search-btn-width);
            @include fit_to_center;
            border-radius: 0 2px 2px 0;
            background-color: $header-search-btn-color;
            text-align: center;
          }
        }

        &__incremental {
          width: 450px;
          border: $border-gray;
          clear: both;
          padding: 6px 0 14px;
          background-color: white;

          ul {
            margin: 0 20px;

            li {
              height: 40px;

              a {
                height: 22px;
                padding: 10px 0 8px 5px;
              }
            }
          }
        }
      }
    }

    &__right {
      float: right;

      &__contents {
        list-style: none;

        &__user_name {
          @include set_size($header-height, $header-login-width);
          float: left;
          position: relative;

          #login-btn {
            @include set_btn($header-height, $header-login-width);
            color: $white;
            text-align: center;
          }
        }

        &__favorite {
          @include set_size(55px, 50px);
          float: left;
          position: relative;

          .fa-comment {
            color: #3bb4d7;
            position: absolute;
            top: 0;

            .fav-notify {
              font-size: 8px;
              color: white;
              position: absolute;
              top: 7px;
              right: 1px;
              font-style: normal;
            }
          }
        }

        &__cart {
          @include set_size(55px, 50px);
          float: left;
          position: relative;

          .fa-circle {
            color: #e73656;
            font-size: 1.5em;
            position: absolute;
            top: 2px;

            .cart-notify {
              position: absolute;
              font-size: 8px;
              color: white;
              font-style: normal;
              top: 4px;
              right: 6px;
            }
          }
        }

        &__menu {
          float: left;
          @include set_size(55px, 50px);
          position: relative;
        }
      }

      .popup {
        z-index: 10;
        position: absolute;
        top: $header-height;
        left: 0;
        right: 0;
        bottom: 0;
        visibility: hidden;

        &__login {
          float: left;
          width: 180px;
          box-shadow: 0 0 5px rgba(77,77,77,0.2);
          border-radius: 0 0 4px 4px;
          background-color: $white;

          &__inner {
            padding: 20px;
            margin: 0 auto;

            &__list {

              h3 {
                font-size: 15px;
                font-weight: normal;
                padding-bottom: 13px;
              }

              li {
                padding-bottom: 7px;

                a {
                  display: block;
                  text-decoration: none;
                  color: #646464;
                }
              }
            }
          }
        }

        &__favorite {
          float: left;
          @include create_popup();
          position: absolute;
          right: -50px;

          &__inner {
            padding: 20px;
            margin: 0 auto;

            &__contents {
              text-align: center;

              .fa-heart {
                display: block;
                color: #3bb4d7;
                font-size: 5.0em;
              }

              span {
                display: block;
                padding-top: 20px;
                color: #808080;
              }
            }
          }
        }

        &__cart {
          float: left;
          width: 250px;
          @include create_popup();
          position: absolute;
          right: -50px;

          &__inner {
            padding: 20px;
            margin: 0 auto;

            &__contents {
              text-align: center;

              .fa-shopping-cart {
                display: block;
                color: #3bb4d7;
                font-size: 4.0em;
                padding-bottom: 10px;
              }

              span {
                margin-top: 10px;
                display: block;
                color: #808080;
              }

              .look-cart-btn {
                margin: 14px auto 0;
                @include set_btn(20px, 195px);
                padding: 11px 0 8px;
                background-color: #2490D0;
                border-radius: 2px;
                text-align: center;

                a {
                  text-decoration: none;
                  color: $white;
                  display: inline-block;
                }
              }
            }
          }
        }

        &__menu {
          float: left;
          width: 170px;
          @include create_popup();
          position: absolute;
          right: 0;

          &__inner {
            margin: 0 auto;
            position: relative;
            padding: 20px;

            &__list {

              h3 {
                font-size: 15px;
                font-weight: normal;
                padding-bottom: 13px;
              }
              li {
                a {
                  display: inline-block;
                  text-decoration: none;
                  color: #646464;
                  padding-bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.fa-search {
  color: gray;
}

.fa-heart {
  color: $white;
}

.fa-shopping-cart {
  color: $white;
}

.fa-bars {
  color: $white;
}

.h-list-btn {
  @include set_btn($header-height, $header-list-width);
  text-align: center;
}

.h-list-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}

#login-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}
