#header {
  background-color: $header-color;

  &__wrapper {
    @include set_size($header-height, 980px);
    margin: 0 auto;

    &__left {
      height: $header-height;
      line-height: $header-height;
      float: left;

      &__logo {
        width: $header-logo-width;
        margin-right: 18px;
        float: left;

        a {
          font-size: 25px;
          color: $white;
          text-decoration: none;
        }
      }

      &__search {
        height: $header-height;
        float: left;

        &__textfield {
          float: left;
          @include set_size($header-height, $header-search-field-width);
          position: relative;

          .search-field {
            @include set_size($header-search-height, $header-search-field-width);
            @include fit_to_center;
            border: 0;
          }
        }

        &__btn {
          @include set_size($header-height, $header-search-btn-width);
          float: left;
          position: relative;

          #search-btn {
            @include set_btn($header-search-height, $header-search-btn-width);
            @include fit_to_center;
            border-radius: 0 2px 2px 0;
            background-color: $header-search-btn-color;
          }
        }
      }
    }

    &__right {
      float: right;

      &__contents {
        list-style: none;
        height: $header-height;

        &__user_name {
          @include set_size($header-height, $header-login-width);
          float: left;

          #login-btn {
            @include set_btn($header-height, $header-login-width);
            color: $white;
          }
        }

        &__favorite {
          float: left;
          position: relative;

          .fa-comment {
            color: #3bb4d7;
            position: absolute;
            top: 0;

            .fav-notify {
              font-size: 8px;
              color: white;
              position: absolute;
              top: 7px;
              right: 1px;
              font-style: normal;
            }
          }
        }

        &__cart {
          float: left;
          position: relative;

          .fa-circle {
            color: #e73656;
            font-size: 1.5em;
            position: absolute;
            top: 2px;

            .cart-notify {
              position: absolute;
              font-size: 8px;
              color: white;
              font-style: normal;
              top: 4px;
              right: 6px;
            }
          }
        }

        &__menu {
          float: left;
        }
      }

      .popup {
        width: 270px;
        height: 205px;
        z-index: 1;
        box-shadow: 0 0 5px rgba(77,77,77,0.2);
        border-radius: 0 0 4px 4px;
        background-color: $white;
        visibility: hidden;

        &__inner {
          width: 220px;
          height: 205px;
          margin: 0 auto;
          position: relative;

          &__favorite {
            visibility: hidden;
            position: relative;
            text-align: center;
            z-index: 2;

            .fa-heart {
              color: #3bb4d7;
              position: absolute;
              top: 30px;
              left: 0;
              bottom: 0;
              right: 0;
              font-size: 5.0em;

            }

            span {
              color: #808080;
              position: absolute;
              top: 120px;
              left: 0;
              bottom: 0;
              right: 0;
            }
          }

          &__cart {
            visibility: hidden;
            position: relative;
            text-align: center;
            z-index: 3;

            .fa-shopping-cart {
              display: block;
              color: #3bb4d7;
              position: absolute;
              top: 50px;
              left: 0;
              bottom: 0;
              right: 0;
              font-size: 4.0em;
            }

            span {
              color: #808080;
              position: absolute;
              top: 120px;
              left: 0;
              bottom: 0;
              right: 0;
            }

            .look-cart-btn {
              position: absolute;
              top: 150px;
              right: 0;
              bottom: 0;
              left: 0;
              margin: 0 auto;
              width: 195px;
              height: 20px;
              padding: 11px 0 8px;
              background-color: #2490D0;
              border-radius: 2px;
              cursor: pointer;
              text-align: center;

              a {
                text-decoration: none;
                color: $white;
                display: block;
              }
            }

          }

          &__menu {
            visibility: hidden;
            height: 100%;
            padding-top: 30px;
            z-index: 4;

            p {
              font-size: 15px;
              font-weight: normal;
              padding-bottom: 13px;
            }

            li {
              padding-bottom: 7px;
              a {
                text-decoration: none;
                color: #646464;
              }
            }
          }
        }
      }
    }
  }
}

.fa-search {
  color: gray;
}

.fa-heart {
  color: $white;
}

.fa-shopping-cart {
  color: $white;
}

.fa-bars {
  color: $white;
}

.h-list-btn {
  @include set_btn($header-height, $header-list-width);
}

.h-list-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}

#login-btn:hover {
  background-color: black;
  transition: background-color 0.5s;
}
