.wrapper {
  .headNavi {
    .center {
      height: 70px;
      width: $width-show-main;
      margin: 0 auto;
      position: relative;

      .linktag {
        height: 20px;
        width: $width-show-main;
        @include fit_to_center();

        ul {
          float: left;

          a {
            font-size: 13px;
            color: #007ebe;
          }
        }
      }
    }
  }

  .main-content {
    height: 100%;
    width: $width-show-main;
    margin: 0 auto;

    .left-content {
      width: $width-show-left;
      float: left;

      .main-image-content {
        height: $height-main-content;
        width: $width-show-left;
        margin-bottom: 25px;

        .left-button {
          height: $height-main-content;
          width: 30px;
          position: relative;
          float: left;

          .button-left {
            height: 138px;
            width: 20px;
            @include fit_to_center();
            text-align: center;
            line-height: 138px;
            font-size: 20px;
            float: left;
          }
        }

        .main-image {
          height: $height-main-content;
          width: 500px;
          float: left;
        }

        .right-button {
          height: $height-main-content;
          width: 30px;
          position: relative;
          float: left;

          .button-right {
            height: 138px;
            width: 20px;
            @include fit_to_center();
            text-align: center;
            line-height: 138px;
            font-size: 20px;
            float: left;
          }
        }
      }

      .sub-image-content {
        width: $width-show-left;

        .sub-image-content-mini {
          height: 80px;
          width: 60px;
          float: left;

          img {
            margin: 0 0 0 17.5px;
          }

          p {
            font-size: 1vh;
            text-align: center;
          }
        }
      }

      .item-content {
        width: $width-show-left;
        border-top: $border-gray;

        h3 {
          font-size: 18px;
          padding-top: 25px;
        }

        .item-content-mini {
          height: 900px;
          width: $width-show-left;

          .items {
            height: 194px;
            width: 140px;
            float: left;

            img {
              margin: 0 0 0 7.5px;
            }

            p {
              height: 14px;
              width: 125px;
              font-size: 12px;
              margin: 0 0 0 7.5px;
              color: #6f6f6f;
            }

            .price {
              height: 45px;
              color: #2d2d2d;
              margin: 0 0 0 7.5px;
              float: left;

              .tax {
                height: 10px;
                width: 20px;
                color: #808080;
                font-size: 10px;
                float: right;
              }
            }
          }
        }
      }
    }

    .right-content {
      width: 380px;
      float: right;

      .item-intro {
        height: 250px;
        width: $width-show-right;

        .namelist {
          height: 40px;
          width: $width-show-right;

          .shop-brand {
            height: 20px;
            width: $width-show-right;
            color: #2d2d2d;

            a {
              color: #646464;
              font-size: 13px;
            }
          }
        }

        h1 {
          height: 56px;
          width: $width-show-right;
          margin-top: 14px;
          font-size: 18px;
        }

        .proper {
          height: 50px;
          width: 100%;
          margin-top: 10px;
          position: relative;

          .price-content {
            .price {
              position: absolute;
              bottom: 0;
              font-size: 34px;
              line-height: 38px;
              float: left;

              .tax {
                height: 100%;
                color: #808080;
                font-size: 12px;
                float: right;
              }
            }

            .late-pay {
              height: 30px;
              width: 130px;
              background-color: #EEEEEE;
              margin: 0 -20px 0 165px;
              padding: 10px;

              .text {
                height: 30px;

                p {
                  font-size: 10px;
                }
              }
            }
          }
        }

        .point-fav {
          height: 45px;
          widows: $width-show-right;
          margin-top: 12px;

          p {
            color: black;
            float: left;
            font-size: 13px;
            font-style: normal;
            margin: 5px 0 0;
          }
        }
      }

      .cart-area {
<<<<<<< HEAD:app/assets/stylesheets/items.scss
=======
        li {
          border-top: $border-gray;
          border-bottom: $border-gray;
        }
>>>>>>> master:app/assets/stylesheets/items.scss

        li {
          border-top: $border-gray;
          border-bottom: $border-gray;
        }
        .item {
          width: 60px;
          height: 60px;
          padding: 10px 0;
          float: left;

          img {
            margin: 0 15px;
          }

          p {
            font-size: 10px;
            text-align: center;
          }
        }

        .stock {
          width: 80px;
          float: left;
          margin: 15px 15px 0 0;
<<<<<<< HEAD:app/assets/stylesheets/items.scss
          .stock_info {
            font-size: 12px;
          }

          .size_info {
            font-size: 10px;
            color: #808080;
          }
        }

=======

          .stock_info {
            font-size: 12px;
          }

          .size_info {
            font-size: 10px;
            color: #808080;
          }
        }

>>>>>>> master:app/assets/stylesheets/items.scss
        .cart-box {
          .cart_btn {
            background-color: #555;
            @include set_btn(35px, 165px);
            color: $white;
            position: relative;
            float: left;
            border-radius: 4px;
            margin: 15px 10px 0 0;

            .fa-shopping-cart {
              float: left;
              display: block;
              margin: 8px 10px 0;
              font-size: 18px;
            }

            p {
              float: left;
              font-size: 15px;
            }
          }

<<<<<<< HEAD:app/assets/stylesheets/items.scss
          .heart {
            margin: 15px 0;
            float: left;

            p {
              height: 10px;
              width: 10px;
              font-size: 25px;
              margin: 5px 0 0 10px;
              color: gray;
=======
          .favorite {
            margin: 15px 0;
            float: left;

            &_icon {
              text-decoration: none;

              &_red {
                color: red;
              }

              &_gray {
                color: gray;
              }

              .fa-heart {
                display: block;
                font-size: 25px;
                margin: 5px 0 0 10px;
              }
>>>>>>> master:app/assets/stylesheets/items.scss
            }
          }
        }
      }

      .condition-tab {
        height: 60px;
        width: $width-show-right;
        margin-top: 30px;

        .left-tab {
          height: 60px;
          width: 125px;
          border-top: $border-gray;
          border-right: $border-gray;
          border-left: $border-gray;
          float: left;

          a {
            width: 25px;
            color: #2d2d2d;
            font-size: 15px;
            line-height: 60px;
            margin: 0 17.5px;
            text-decoration: none;
          }
        }

        .right-tab {
          height: 60px;
          width: 273px;
          border-bottom: $border-gray;
          float: left;
          margin-bottom: 20px;

          .right-tab-mini {
            height: 60px;
            width: 125px;

            a {
              width: 25px;
              color: #2d2d2d;
              font-size: 15px;
              line-height: 60px;
              margin: 0 17.5px;
              text-decoration: none;
            }
          }
        }
      }

      .text-area {
        height: 100%;
        width: $width-show-right;

        p {
          height: 20px;
          font-size: 13px;
          padding: 20px 0;
        }
      }

      .action-nav {
        height: 50px;
        width: $width-show-right;
        margin-top: 10px;
        border: $border-blue;
        text-align: center;

        a {
          height: 50px;
          color: rgb(36, 144, 208);
          text-decoration: none;
          font-size: 15px;
          line-height: 50px;
        }
      }

      .item-info {
        height: 200px;
        width: 370px;
        margin-top: 20px;
        padding: 15px 15px 13px;
        background-color: rgb(240, 240, 240);

        .text-box {
          height: 180px;
          width: 365px;
          font-size: 13px;

          .text {
            padding-top: 10px;

            dt {
              height: 30px;
              width: 110px;
              float: left;
              line-height: 30px;
            }

            span {
              height: 30px;
              float: left;
              line-height: 30px;
            }

            dd {
              height: 30px;
              width: 240px;
              margin-left: 10px;
              float: left;
              line-height: 30px;

              a {
                height: 30px;
                color: rgb(36, 144, 208);
                text-decoration: none;
                line-height: 30px;
              }
            }
          }
        }
      }

      .detail-link {
        height: 20px;
        width: $width-show-right;
        margin-top: 7px;
        padding-bottom: 7px;
        border-bottom: $border-gray;

        a {
          color: rgb(36, 144, 208);
          text-decoration: none;
          font-size: 13px;
        }

        span {
          margin: 0 5px 0 5px 0;
          font-size: 13px;
        }
      }

      .icons {
        height: 65px;
        width: $width-show-right;

        i {
          height: 65px;
          line-height: 65px;
          width: 10px;
          float: left;
          padding-right: 30px;
          font-size: 17px;
          color: #2d2d2d;
        }
      }

      .brand-box {
        height: 30px;
        width: 250px;
        margin-top: 10px;
        border: $border-blue;

        i {
          height: 30px;
          line-height: 30px;
          color: #007ebe;
          font-size: 17px;
          padding: 0 10px;
          float: left;
        }

        p {
          height: 30px;
          line-height: 30px;
          color: #007ebe;
          font-size: 13px;
          float: left;
        }
      }
    }
  }

  .row-content {
    height: 100%;
    width: $width-show-main;
    clear: both;

    .recommend {
      height: 100%;
      width: $width-show-main;
      padding-top: 30px;
      border-top: $border-gray;

      p {
        font-size: 18px;
      }

      .items {
        height: 100%;
        width: $width-show-main;
        padding-top: 14px;
      }
    }

    .keyword {
      height: 100%;
      width: $width-show-main;
      padding-top: 30px;
      border-top: $border-gray;

      p {
        font-size: 18px;
      }

      ul {
        margin-top: 15px;
        height: 40px;
        width: $width-show-main;

        a {
          height: 30px;
          padding: 5px;
          border-top: $border-gray;
          border-right: $border-gray;
          border-left: $border-gray;
          border-bottom: $border-gray;
          text-decoration: none;
          color: #808080;
          background-color: rgb(245, 245, 245);
          margin-left: 10px;
        }
      }
    }

    .other {
      height: 100%;
      width: $width-show-main;
      padding-top: 30px;
      border-top: $border-gray;

      p {
        font-size: 18px;
      }

      .text-box {
        height: 40px;
        width: $width-show-main;
        color: #808080;
        margin-top: 10px;
      }

      .shops {
        margin: 15px 0;
        height: 60px;
        width: $width-show-main;

        a {
          height: 25px;
          width: 230px;
          padding: 5px 0;
          text-decoration: none;
          color: #646464;
          float: left;
        }
      }
    }
  }
}

.top_image {
  width: 500px;
  height: 600px;
}

.sub_image {
  width: 35px;
  height: 42px;
}
