.o.wrapper {
  height: 1000px;
  // ↑削除する
  width: $width-show-main;

  .o.header {
    height: 26px;
    width: 184px;
    padding-top: 16px;
  }

  .o.content {
    width: $width-show-main;
    margin-top: 24px;

    .o.content-header {
      height: 70px;
      width: $width-show-main;

      h1 {
        height: 70px;
        line-height: 70px;
        font-size: 21px;
        float: left;
      }

      .o.navi {
        float: right;
      }
    }

    .o.main-content {
      width: $width-show-main;
      margin-top: 24px;

      .o.left-content {
        width: carts_orders_left_content_width;

        .o.address {
          height: 230px;
          width: $carts_orders_left_content_width;
          border-top: $border-gray;
          border-bottom: $border-gray;

          .o.adress-top-content {
            height: 114px;
            width: 645px;

            .o.addressee {
              height: 213px;
              line-height: 213px;
              width: 120px;
              padding-left: 20px;
              float: left;
            }

            .o.address-top {
              width: 441px;
              height: 114px;
              float: left;

              .o.name {
                height: 80px;
                width: 441px;
                padding: 17px 0;


                div {
                  height: 80px;
                  width: 441px;

                  .o.in-name {
                    height: 20px;
                    width: 100%;
                  }

                  .o.add {
                    height: 40px;
                    width: 39px;
                    float: left;

                    #selectAdd {
                      height: 40px;
                      width: 402px;
                    }
                  }
                }
              }
            }

              .o.change {
                height: 114px;
                width: 64px;
                float: right;
                position: relative;

                .btn-change {
                  height: 25px;
                  line-height: 25px;
                  width: 50px;
                  text-align: center;
                  border: $border-blue;
                  @include fit_to_center();
                  color: $main-blue-color;
                  text-decoration: none;
                }
              }
            }

            .o.store-locker {
              height: 69px;
              width: 485px;
              margin: 0 0 17px 140px;
              padding: 15px 10px;
              background-color: rgb(240, 240, 240);

              .o.icon {
                height: 50px;
                width: 60px;
                float: left;
              }

              .store-locker-text {
                height: 56px;
                width: 330px;
                float: left;

                .txt14 {
                  font-size: 14px;
                  font-weight: bold;
                }

                .txt12 {
                  height: 34px;
                  width: 330px;
                  margin-top: 4px;
                  font-size: 12px;
                }
              }

              .o.btn-store-select {
                @include set_btn(30px, 82px);
                line-height: 30px;
                text-align: center;
                background-color: $main-blue-color;
                color: white;
                margin-top: 14px;
                float: right;
              }
            }
        }

        .o.payment-area {
          height: 59px;
          width: $carts_orders_left_content_width;
          border-bottom: $border-gray;

          .o.pay-method {
            height: 58px;
            line-height: 58px;
            width: 125px;
            padding-left: 20px;
            float: left;
          }

          .o.credit {
            height: 58px;
            line-height: 58px;
            width: 316px;
            float: left;
          }

          .o.price {
            height: 58px;
            line-height: 58px;
            width: 118px;
            float: left;
          }

          .o.btn-box {
            height: 58px;
            width: 66px;
            float: left;
            position: relative;

            .btn-change {
            height: 27px;
            line-height: 27px;
            width: 50px;
            font-size: 13px;
            text-align: center;
            border: $border-blue;
            color: $main-blue-color;
            text-decoration: none;
            @include fit_to_center();

            }
          }
        }

        .o.point-area {
          height: 59px;
          width: $carts_orders_left_content_width;
          border-bottom: $border-gray;

          .o.zozo-point {
            height: 58px;
            line-height: 58px;
            width: 120px;
            padding-left: 20px;
            float: left;
          }

          .o.point-description {
            height: 58px;
            line-height: 58px;
            width: 505px;
            float: left;
          }
        }

        .o.delivery-items {
          height: 469px;
          width: $carts_orders_left_content_width;
          padding: 20px 0 20px 20px;
          background-color: yellow;

          .o.delivery-items-more {
            height:429px;
            width: 623px;
            margin-top: 20px;
            border: $border-gray;
            background-color: orange;
          }
        }
      }
    }
  }
}
