.o.wrapper {
  height: 1000px;
  // ↑削除する
  width: $width-show-main;
  background-color: yellow;

  .o.header {
    height: 26px;
    width: 184px;
    padding-top: 16px;
  }

  .o.content {
    width: $width-show-main;
    margin-top: 24px;

    .o.content-header {
      height: 45px;
      width: $width-show-main;

      h1 {
        font-size: 21px;
      }
    }
  }
}
