.o.wrapper {
  height: 1000px;
  // ↑削除する
  width: $width-show-main;

  .o.header {
    height: 26px;
    width: 184px;
    padding-top: 16px;
  }

  .o.content {
    width: $width-show-main;
    margin-top: 24px;

    .o.content-header {
      height: 70px;
      width: $width-show-main;

      h1 {
        height: 70px;
        line-height: 70px;
        font-size: 21px;
        float: left;
      }

      .o.navi {
        float: right;
      }
    }

    .o.main-content {
      width: $width-show-main;
      margin-top: 24px;

      .o.left-content {
        width: carts_orders_left_content_width;

        .o.address {
          height: 213px;
          width: $carts_orders_left_content_width;
          border-top: $border-gray;
          border-bottom: $border-gray;
          background-color: yellow;

          .o.address-top {
            width: $carts_orders_left_content_width;
            height: 114px;
            background-color: orange;
          }

            .o.addressee {
              height: 213px;
              line-height: 213px;
              width: 120px;
              padding-left: 20px;
              float: left;
              background-color: red;
            }

            .o.name {
              height: 80px;
              width: 441px;
              padding: 17px 0;
              background-color: blue;

              div {
                height: 80px;
                width: 441px;

                .o.name {
                  height: 20px;
                  width: 100%;
                  background-color:green;
                }
              }
            }
        }
      }
    }
  }
}
