.popup{
  position: relative;
  visibility: hidden;
  &__inner {
    width: 180px;
    margin: 0 auto;
    li {
      padding: 10px 2px 8px 5px;
    }
  }
}
.category-tops {
  @include create_category_popup;
}
.category-jacket{
  @include create_category_popup;
}

.category-pants{
  @include create_category_popup;
}

.category-allin{
  @include create_category_popup;
}

.category-skirt{
  @include create_category_popup;
}

.category-onepiece{
  @include create_category_popup;
}

.category-suits{
  @include create_category_popup;
}

.category-bag{
  @include create_category_popup;
}

.category-shoes{
  @include create_category_popup;
}
