.r.wrapper{
  width: $width-show-main;
  margin: auto;

  .r.header {
    width: $width-show-main;
    height: 70px;
    line-height: 70px;

    li {
      color: rgb(128, 128, 128);
      float: left;
      margin-right: 5px;
    }

    a {
      text-decoration: none;
      color: $main-blue-color;
      margin-right: 5px;
    }
  }

  .r.main-content {
    width: $width-show-main;
  }

  .r.title-area {
    width: $width-show-main;
    margin-top: 5px;

    h1 {
      font-size: 23px;

      i {
        font-size: 27px;
        color: $main-blue-color;
      }
    }
  }
}
