.payment {
  &_header {
    height: 130px;

    &_content {
      float: left;

      &_logo {
        .main_logo {
          width: 250px;
        }
      }

      &_title {
        font-size: 21px;
        margin-top: 25px;
      }
    }

    .status_nav {
      margin-top: 10px;
      width: 350px;
      float: right;
    }
  }

  &_inner {
    width: 620px;
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    float: left;

    .delivery_table {
      padding-top: 10px;
      border-bottom: 1px solid #e4e4e4;

      dd {
        float: left;
      }

      dt {
        width: 140px;
        float: left;
      }

      .address_title {
        height: 110px;
      }

      .delivery_title {
        height: 130px;
        padding: 10px 0;
      }

      .table_left {
        width: 150px;
        padding: 10px 0;
      }

      .table_center {
        width: 190px;
        padding: 10px 0;
        text-align: center;
      }

      .table_right {
        width: 135px;
        padding: 10px 0;
        text-align: center;
      }
    }
  }
}

.payment_sidebar {
  float: right;

  .next_btn {
    @include set_size(190px, 305px);
    background-color: #F6F6F6;
    padding: 20px 18px 12px;
    border: 1px solid #EDEDED;
    border-radius: 6px;
    position: relative;
    box-shadow: 1px 0 5px 4px rgba(69, 145, 175, 0.6);

    &_inner {
      padding: 20px 18px 18px 12px;
      width: 260px;
      @include fit_to_center();

      &_btn {
        @include set_btn(50px, 265px);
        font-size: 18px;
        margin: 0 auto;
        background-color: #3d6bcb;
        text-align: center;
        color: $white;
        border-radius: 2px;
      }

      .price_table {
        margin-top: 20px;

        dl {
          margin-bottom: 3px;
        }

        dt {
          display: block;
          float: left;
        }

        dd {
          display: block;
          float: right;
        }
      }

      .total_price {
        padding-top: 10px;
        margin-top: 13px;
        border-top: 1px solid #e4e4e4;

        &_title {
          font-weight: bold;
          font-size: 16px;

          span {
            font-size: 10px;
            font-weight: normal;
          }
        }

        &_price {
          color: red;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }
}
