.delibody {
  height: 100%;
  width: 100%;
  &_header {
    height: 50px;
    width: $width-wall-main;
    margin: 0 auto;
    font-size: 25px;
    img {
      height: 40px;
      width: 300px;
      // height: 26px;
      // width: 186px;
    }
  }
  &_content {
    width: $width-wall-main;
    min-height: 773px;
    margin: 0 auto;
    &_head {
      height: 80px;
      line-height: 80px;
      border-bottom: 1px solid $header-search-btn-color;
      font-size: 21px;
      h2 {
        display: inline-block;
      }
      &_root {
        height:80px;
        width: 320px;
        float: right;
        img {
          height: 80px;

        }
      }
    }
    &_main {
      width: 645px;
      padding: 30px 0;
      float: left;
      z-index: 999;
      &_destination {
        min-height: 160px;
        padding: 20px 0;
        border-bottom: 1px solid $header-search-btn-color;
        &_title{ 
          height: 160px;
          width: $width-title;
          float:left;
        }
        &_main {
          width: $width-content-main;
          height: 80px;
          float: right;
          &_check {
            height:80px;
            width: 30px;
            float: left;
            margin: auto 0;
            border-bottom: 1px solid $header-search-btn-color;
          }
          #propriety {
            display: inline-block;
            background-color: #c2aa00;
            border-radius: 3px;
            color: $white;
          }
        }
        &_add {
          width: $width-content-main;
          height: 80px;
          line-height: 80px;
          float: right;
          &_check {
            width: $width-form;
            height: 80px;
            line-height: 80px;
            border-bottom: 1px solid $header-search-btn-color;
            &_btn {
              height:80px;
              width: 30px;
              float: left;
              margin: auto 0;
            }
          }
        }
        &_form {
          width: $width-form;
          height: 400px;
          float: right;
          background-color: $form-color;
          padding: 13px 20px;
          margin: 0 30px 0 0;
          &_check {
            width: $width-form;
            height: 80px;
            line-height: 80px;
            border-bottom: 1px solid $header-search-btn-color;
            &_btn {
              height:80px;
              width: 30px;
              float: left;
              margin: auto 0;
            }
          }
          &_kind {
            height: $height-newform;
            width: $width-newform;
            float: left;
            &_title {
              height: $height-newform;
              width: $width-form-title;
              line-height: $height-newform;
              float: left;
            }
            select {
              margin:10px 0 0 0;
              width: 250px;
              height: 40px;
            }
          }
          &_name {
            height: $height-newform;
            width: $width-newform;
            float: left;
            &_title {
              height: $height-newform;
              width: $width-form-title;
              line-height: $height-newform;
              float: left;
            }
            &_form {
              height: $height-form-form;
              width: $width-form-form;
              margin:7px 0 0 0;
            }
          }
          &_post-num {
            height: $height-newform;
            width: $width-newform;
            float: left;
            &_title {
              height: $height-newform;
              width: $width-form-title;
              line-height: $height-newform;
              float: left;
            }
            &_form {
              height: $height-form-form;
              width: $width-form-form;
              margin:7px 0 0 0;
            }
          }
          &_addless {
            height: $height-newform;
            width: $width-newform;
            float: left;
            &_title {
              height: $height-newform;
              width: $width-form-title;
              line-height: $height-newform;
              float: left;
            }
            &_form {
              height: $height-form-form;
              width: $width-form-form;
              margin:7px 0 0 0;
            }
          }
          &_phone-num {
            height: $height-newform;
            width: $width-newform;
            float: left;
            &_title {
              height: $height-newform;
              width: $width-form-title;
              line-height: $height-newform;
              float: left;
            }
            &_form {
              height: $height-form-form;
              width: $width-form-form;
              margin:7px 0 0 0;
            }
          }
        }
      }
      &_shipping {
        min-height: 50px;
        padding: 20px 0;
        border-bottom: 1px solid $header-search-btn-color;
        &_title {
          width: $width-title;
          height:80px;
          float: left;
        }
        &_main {
          width: $width-content-main;
          min-height: 50px;
          float: right;
          &_none {
            height: $height-sipping;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_time {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          &_specified {
            height: $height-sipping;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_time {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          &_formspecified {
            width: $width-form;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            margin: 0 30px 0 0;
            select {
              width: 200px;
              height: 40px;
              margin: 0 20px 0 0;
              float: left;
            }
          }
          &_same {
            height: $height-sipping;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_time {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          &_formsame {
            width: $width-form;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            margin: 0 30px 0 0;
            select {
              width: 400px;
              height: 40px;
              margin: 0 20px 0 0;
              float: left;
            }
          }
        }
      }
      &_payment {
        min-height: 370px;
        padding: 20px 0;
        border-bottom: 1px solid $header-search-btn-color;
        &_title {
          width: $width-title;
          height:80px;
          float: left;
          clear: both;
        }
        &_main {
          min-height: 60px;
          width: $width-content-main;
          float: right;
          &_tuke {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          #tukeform {
            width: $width-form;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            margin: 0 30px 0 0;
            .atention p {
              color: $cation;

            }
          }
          &_zozo {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          .zozocontent {
            width: $width-form;
            min-height: 200px;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            margin: 0 30px 0 0;
            &_number {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              &_form {
                height: $height-form-form;
                width: $width-form-form;
                margin:7px 0 0 0;
              }
            }
            &_limit {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              select {
                height: 30px;
                width: 100px;
                margin:7px 0 0 0;
                float: left;
              }
              &_year {
                height: $height-form-form;
                line-height: $height-form-form;
                width: 120px;
                margin:7px 0 0 0;
                float: left;
              }
              &_month {
                height: $height-form-form;
                line-height: $height-form-form;
                width: 120px;
                margin:7px 0 0 0;
                float: left;
              }
            }
            &_meny {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              &_form {
                height: $height-form-form;
                width: $width-form-form;
                margin:7px 0 0 0;
              }
              select {
                margin:10px 0 0 0;
                width: 250px;
                height: 40px;
              }
            }
          }
          &_credit {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          .crecontent {
            width: $width-form;
            min-height: 200px;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            margin: 0 30px 0 0;
            img {
              height: 35px;
              width: 350px;
              margin:0 0 0 40px;
            }
            &_number {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              &_form {
                height: $height-form-form;
                width: $width-form-form;
                margin:7px 0 0 0;
              }
            }
            &_limit {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              select {
                height: 30px;
                width: 100px;
                margin:7px 0 0 0;
                float: left;
              }
              &_year {
                height: $height-form-form;
                line-height: $height-form-form;
                width: 120px;
                margin:7px 0 0 0;
                float: left;
              }
              &_month {
                height: $height-form-form;
                line-height: $height-form-form;
                width: 120px;
                margin:7px 0 0 0;
                float: left;
              }
            }
            &_meny {
              min-height: $height-newform;
              width: $width-newform;
              float: left;
              clear: both;
              &_title {
                height: $height-newform;
                width: $width-form-title;
                line-height: $height-newform;
                float: left;
              }
              &_form {
                height: $height-form-form;
                width: $width-form-form;
                margin:7px 0 0 0;
              }
              select {
                margin:10px 0 0 0;
                width: 250px;
                height: 40px;
              }
            }
          }
          &_cash {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          &_line {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          &_conbini {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
          .concontent {
            min-height: 400px;
            width: $width-form;
            float: right;
            background-color: $form-color;
            padding: 13px 20px;
            &_check {
              width: $width-form;
              height: $height-conbini;
            }
            &_ca01 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca02 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca03 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca04 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca05 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca06 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
            &_ca07 {
              height: $height-conv;
              clear: both;
              padding: 0 20px;
              &_title {
                width: $width-conv;
                height: $height-radio;
                float: left;
                input {
                  height: 80px;
                  width: $width-radio;
                  float: left;
                }
                img {
                  width: $width-conv-img;
                  height: $height-conv-img;
                  margin: 0 0 0 20px;
                  float: left;
                }
              }
              &_description {
                width: 200px;
                height: $height-radio;
                float: left;
              }
            }
          }
          &_blackcat {
            height: $height-payment-lecode;
            clear: both;
            &_title {
              width: $width-payment-title;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
              input {
                height: $height-radio;
                width: $width-radio;
                float: left;
                margin: auto 0;
              }
            }
            &_points {
              width: $width-payment-points;
              height: $height-radio;
              line-height: $height-radio;
              float: left;
            }
            &_price {
              width:$width-payment-price;
              height: $height-radio;
              line-height: $height-radio;
              float: right;
            }
          }
        }
      }
    }
    &_move {
      width: 300px;
      height: 208px;
      float:right;
      &_content {
        height: 176px;
        width: 268px;
        background-color: #F6F6F6;
        box-shadow: 0 0 8px gray;
        float: right;
        border-radius: 10px;
        padding: 20px 18px 12px;
        z-index: 1;
        position:fixed;
        &_list {
          &_button {
            height: 50px;
            width: 268px;
            border-radius: 1px;
            background-color: $send-button;
            color: $white;
            font-size: 18px;
            line-height: 50px;
            text-align: center;
          }
          &_price {
            padding: 10px 0 0 0;
            &_total {
                height: 20px;
              &_title {
                float: left;
              }
              &_price {
                float: right;
              }
            }
             &_postage {
                height: 20px;
              &_title {
                float: left;
              }
              &_price {
                float: right;
              }
            }
            &_commission {
                height: 20px;
                border-bottom: 1px solid $header-search-btn-color;
              &_title {
                float: left;
              }
              &_price {
                float: right;
              }
            }
          }
          &_total {
              height: 20px;
              margin: 10px 0 0 0;
            &_title {
              float: left;
            }
            &_price {
              float: right;
            }
          }
        }
      }
    }
    &_atention {
      width: $width-wall-main;
      margin:0 auto;
      &_first {
        width: $width-wall-main;
        float:left;
      }
      &_second {
        width: $width-wall-main;
        float:left;
      }
      &_third {
        width: $width-wall-main;
        float:left;
      }
    }
  }
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
// .hide {
//   display:none;
// }

.hidedn {
  display:none;
}
