.nestbar {
  height:20px;
  padding:25px 0;
  margin:0 auto;
  width:980px;
  font-size:13px;
  &_content {
  }
}
.signup_body {
  height:839px;
  width:980px;
  margin:0 auto;
  &_head {
    height:40px;
    margin:0 10px;
    font-size:23px;
    &_left {
      height:40px;
      width:40px;
      float:left;
    }
    &_right {
      height:40px;
      width:900px;
      float:left;
    }
  }
  &_main {
    height:718px;
    width:702px;
    padding:36px 48px 40px;
    margin:34px 139px 0 139px;
    background-color:#f0f0f0;
    border: solid 1px #c0c0c0;
    border-radius: 10px;
    &_format {
      height:716px;
      width:700px;
      color:#5a5a5a;
      &_head {
        height:40px;
        border-bottom: 1px solid #dcdcdc;
        font-size:18px;
        padding:20px 0;

      }
      &_gender {
        height:32px;
        border-bottom: 1px solid #dcdcdc;
        font-size:15px;
        padding:16px 0;
        &_title {
          height:32px;
          width:180px;
          line-height:32px;
          float:left
        }
        &
        &_form {
          font-size: 18px;
        }
      }
      &_birthday {
        height:40px;
        border-bottom: 1px solid #dcdcdc;
        font-size:15px;
        padding:20px 0;
        &_title {
          height:40px;
          width:180px;
          line-height:40px;
          float:left;
        }
        &_select {
           float:left;
           margin:0 auto;
        }
      }
      &_postnum {
        height:64px;
        border-bottom: 1px solid #dcdcdc;
        font-size:15px;
        padding:32px 0;
        &_title {
          height:64px;
          width:180px;
          line-height:64px;
          float:left;
        }
        &_form {
          height:40px;
          width:225px;
          border: solid 1px #d3d3d3;
        }
      }
      &_addless {
        height:140px;
        border-bottom: 1px solid #dcdcdc;
        font-size:15px;
        &_title{
          height:70px;
          width:180px;
          float:left;
          padding:35px 0;
        }
        &_form {
          height:100px;
          width:520px;
          float:right;
          padding:20px 0;
          &_main {
            height:40px;
            width:400px;
            border: solid 1px #d3d3d3;
          }
          &_sub {
            color: #808080;
            font-size: 10px;
          }
          &_checkbox {
            color: #808080;
            font-size: 10px;
          }
        }
      }
      &_password {
        height:64px;
        border-bottom: 1px solid #dcdcdc;
        font-size:15px;
        padding:32px 0;
        &_title{
          height:64px;
          width:180px;
          line-height:64px;
          float:left;
        }
        &_form {
          height:40px;
          width:225px;
          background-color:#f0e68c;
          border: solid 1px #d3d3d3;
        }
        &_caution {
          color: #808080;
          font-size: 10px;
        }
      }
      &_agreement {
        height:40px;
        font-size:15px;
        text-align: center;
        line-height:40px;
        margin:0 auto;
      }
      &_send {
        height:40px;
        padding:10px 0;
        &_bottun {
          height:40px;
          width:300px;
          background-color: #2490D0;
          color: #ffffff !important;
          display: block;
          text-align: center;
          border-radius: 2px;
          padding: 11px 0 8px;
          margin:0 auto;
          border: solid 1px #2490D0;
          border-radius: 3px;
        }
      }
    }
  }
}


