.regist {
  height: 800px;
  margin-top: 60px;

  &_inner {
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background: #f0f0f0;
    padding: 36px 48px 40px;
    width: 604px;
    margin: 0 auto;

    &_header {
      h3 {
        font-size: 18px;
        padding: 0 0 10px;
      }
    }

    &_form {
      tr {
        display: block;
        border-bottom: 1px solid #dcdcdc;
        width: 604px;

        span {
          font-size: 11px;
          background-color: #dcdcdc;
          margin: 0 0 0 8px;
          padding: 5px;
        }

        .gender_item {
          padding: 20px 0;
          display: block;
          margin-right: 25px;
          float: left;

          .gender_label {
            font-size: 13px;
          }
        }

        .birth_form {
          padding: 20px 0;
          display: block;
          margin-right: 20px;
          float: left;

          .birth_label {
            font-size: 13px;
          }
        }

        .post_form {
          padding: 20px 0;
          display: block;

          p {
            color: #808080;
            font-size: 11px;
            margin-top: 3px;
          }
        }

        .post_num_form {
          @include set_size(20px, 225px);
          font-size: 13px;
          padding: 12px 7px 11px 19px;
        }

        .email_form {
          @include set_size(20px, 400px);
          padding: 12px 7px 11px 19px;
        }

        .password_form {
          @include set_size(20px, 225px);
          padding: 12px 7px 11px 19px;
        }
      }
    }
  }

  .agreement {
    margin-top: 20px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }

  .submit {
    margin-top: 20px;

    .register_btn {
      @include set_btn(40px, 300px);
      background-color: #2490D0;
      color: #ffffff;
      border-radius: 2px;
      border: solid 1px #2490D0;
      text-align: center;
      margin: 0 auto;
    }
  }
}

.radio {
  width: 18px;
  height: 18px;
}

.form_title {
  width: 180px;
  color: #5a5a5a;
  font-size: 15px;
}
