.wrapper {

  .img {
    height: 46px;
    background-color: #007ebe;
  }

    .headNavi {

      .center {
        height: 70px;
        width: 980px;
        margin: 0 auto;
        position: relative;

        .linktag {
          height: 20px;
          width: 980px;
          @include fit_to_center();

          ul {

            li {
              float: left;

              a {
                font-size: 13px;
                color: #007ebe;
              }
            }
          }
        }
      }
    }

  .main-content {
    height: 100%;
    width: 980px;
    margin: 0 auto;

    .left-content {
      width: 560px;
      float: left;

      .main-image-content {
        height: 600px;
        width: 560px;
        margin-bottom: 25px;

        .left-button {
          height: 600px;
          width: 30px;
          position: relative;
          float: left;

          .button-left {
            height: 138px;
            width: 20px;
            @include fit_to_center();
            text-align: center;
            line-height: 138px;
            font-size: 20px;
            float: left;
          }
        }

        .main-image {
          height: 600px;
          width: 500px;
          background-color: red;
          float: left;
        }

        .right-button {
          height: 600px;
          width: 30px;
          position: relative;
          float: left;

          .button-right {
            height: 138px;
            width: 20px;
            @include fit_to_center();
            text-align: center;
            line-height: 138px;
            font-size: 20px;
            float: left;
          }
        }
      }
      .sub-image-content {
        height:161px;
        width: 560px;
        padding: 0 0 25px 0;

        .sub-image-content-mini {
          height: 80px;
          width: 70px;
          float: left;

          img {
            margin: 0 0 0 17.5px;
          }

          p {
            height: 35px;
            width: 35px;
            font-size: 1vh;
            margin: 0 0 0 17.5px;
          }
        }
      }

      .item-content {
        height: 965px;
        width: 560px;
        margin-top: 25px;
        border-top: solid;
        border-top-color:rgb(235, 235, 235);
        border-top-width: 1px;

        h3 {
          font-size: 18px;
          padding-top: 25px;
        }

        .item-content-mini {
          height: 900px;
          width: 560px;

          .items {
            height: 194px;
            width: 140px;
            float: left;

            img {
              margin: 0 0 0 7.5px;
            }

            p {
              height: 14px;
              width: 125px;
              font-size: 12px;
              margin: 0 0 0 7.5px;
              color: #6f6f6f;
            }

            .price {
              height: 45px;
              color: #2d2d2d;
              margin: 0 0 0 7.5px;
              float: left;

              .tax {
                height: 10px;
                width: 20px;
                color: #808080;
                font-size: 10px;
                float: right;
              }
            }
          }
        }
      }
    }

    .right-content {
      width: 400px;
      float: right;

      .item-intro {
        height: 250px;
        width:400px;
        background-color: yellow;

        .namelist {
          height: 40px;
          width: 400px;

          .shop-brand {
            height: 20px;
            width: 400px;
            color: #2d2d2d;

            a {
              color: #646464;
              font-size: 13px;
            }
          }
        }

        h1 {
          height: 56px;
          width: 400px;
          margin-top: 14px;
          font-size: 18px;
        }

        .proper {
          height: 50px;
          width: 400px;
          margin-top: 10px;
          background-color: green;
          position: relative;

          .price-content {

            .price {
              background-color: red;
              position: absolute;
              bottom: 0px;
              font-size: 34px;
              line-height: 38px;
              float: left;

              .tax {
                height: 100%;
                color: #808080;
                font-size: 12px;
                float: right;
              }
            }
          }
        }
      }
    }

  }
}
