article {
  #top {
    width: $inner-width;
    margin: 0 auto;

    &__left {
      width: $top-left-width;
      float: left;

      &__search {
        width: 100%;
        padding: 22px 0 12px;

        &__list {
          li {
            margin-top: 10px;
          }
        }
      }

      &__category {
        width: 100%;
        padding: 22px 0 12px;

        &__list {
          border-top: solid 1px $top-category-border-color;
          margin-top: 17px;
        }
        p {
          margin-top: 18px;
          text-align: right;
          a {
            color: #007ebe;
            text-decoration: none;
          }
        }
      }

      &__favorite {
        width: 100%;
        padding: 22px 0 12px 0;
        &__list {
          border-top: solid 1px $top-category-border-color;
          margin-top: 17px;
        }
      }

      &__brand {
        background-color: orange;
        width: 100%;
        height: $top-brand-field-height;
        padding: 22px, 0, 12px, 0;
      }

      &__shop {
        background-color: red;
        width: 100%;
        height: $top-brand-field-height;
        padding: 37px, 0, 12px, 0;
      }
    }

    &__center {
      background-color: gray;
      width: $top-center-width;
      height: 3000px;
      margin-left: 15px;
      float: left;

      &__zozoitem {
        background-color: blue;
        height: $top-zozoitem-height;
        width: 100%;
        margin-top: 25px;
        padding-bottom: 10px;
      }

      &__couponitem {
        background-color: red;
        height: $top-couponitem-height;
        width: 100%;
        padding: 22px, 0, 25px, 0;
      }

      &__rankingitem {
        background-color: skyblue;
        height: $top-rankingitem-height;
        width: 100%;
        padding: 23px, 0, 25px, 0;
      }
    }

    &__right {
      background-color: black;
      width: $top-right-width;
      height: 1000px;
      float: left;
    }
  }
}

.head-title {
  font-size: 18px;
  font-color: $top-head-font-color;
}

.list-title {
  text-decoration: none;
  color: $top-list-font-color;
}

.category-btn {
  @include set_btn($top-category-btn-height, $top-category-btn-width);
  padding: 10px 2px 8px 5px;
  border-bottom: solid 1px $top-category-border-color;
}

.category-btn:hover {
  background-color: #e6e6e6;
  transition: background-color 0.5s;
}

.search-list:hover {
  text-decoration-line: underline;
}
