.category_var
  .inner
    %ul.nest_list.clearfix
      %li.nest_path
        = link_to "ZOZOTOWN", root_path
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_path
        = link_to top_category.name, "/top_categories/#{top_category.id}"
      - if sub_category != nil
        %li.nest_icon
          %i.fas.fa-angle-right
        %li.nest_path
          = link_to sub_category.name, top_category_sub_category_path(top_category, sub_category)
        %li.nest_icon
          %i.fas.fa-angle-right
        %li.nest_item
          %a 対象商品
