.category_var
  .inner
    %ul.nest_list.clearfix
      %li.nest_path
        = link_to "ZOZOTOWN", root_path
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_path
        = link_to brand.name, brands_path(brand)
      %li.nest_icon
        %i.fas.fa-angle-right
      %li.nest_item
        %a 対象商品
