.wrapper
  %a{ :href => 'http://google.co.jp' }aaaaaa
  .img
    ゾゾタウンのマークが入る
  .headNavi
    .center
      .linktag
        %ul
          %li
            %a{ :href => 'http://google.co.jp' }ZOZOTOWN
            >
          %li
            %a ZOZO


