.wrapper
  .img
    ゾゾタウンのマークが入る
  .headNavi
    .center
      .linktag
        %ul
          %li
            %a{ :href => 'http://google.co.jp' }ZOZOTOWN
            >
          %li
            %a ZOZO
  .main-content
    .left-content
      .main-image-content
        .left-button
          .button-left
            <
        .main-image
          %img{alt: "商品写真", height: "600", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "500px"}
        .right-button
          .button-right
            >
      .sub-image-content
        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

        .sub-image-content-mini
          %img{alt: "商品写真", height: "35", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "35px"}
          %p ダークデニム

      .item-content
        %h3 関連アイテム
        .item-content-mini
          .items
            %img{alt: "商品写真", height: "150", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "125px"}
            %p ZOZO
            .price
              ¥3,900
              .tax
                税別

          .items
            %img{alt: "商品写真", height: "150", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "125px"}
            %p ZOZO
            .price
              ¥3,900
              .tax
                税別

          .items
            %img{alt: "商品写真", height: "150", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "125px"}
            %p ZOZO
            .price
              ¥3,900
              .tax
                税別

          .items
            %img{alt: "商品写真", height: "150", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "125px"}
            %p ZOZO
            .price
              ¥3,900
              .tax
                税別

          .items
            %img{alt: "商品写真", height: "150", src: "https://c.imgz.jp/719/32560719/32560719_33_D_500.jpg", width: "125px"}
            %p ZOZO
            .price
              ¥3,900
              .tax
                税別

    / .right-content

